<style>
nav ul, nav ol, nav dl {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
	display: block;
}
	
</style>
<ul type="toolbar">
	<li style="height:100px;"></li>
	
	{% for i,menuI in menu %}		
	<li class="toctree-l1 ">
		<a class="reference internal " href="{{menuI.url}}">
			{{ menuI.name }}
		</a>
		{% if menuI.hasChilds %}
		<ul>
			{% for a, menuI2 in menuI.getChilds %}
				<li class="toctree-l2 ">
					<a class="reference internal " href="{{menuI2.url}}">
						{{menuI2.name}}
					</a>
				</li>				
			{% endfor %}
		</ul>
		{% endif %}
	</li>		
	{% endfor %}
</ul>





