{% extends "@layouts/default.layout.html.twig" %}

{% block title %}Index{% endblock %}


{% block pagetitle %}
    <h2>Index</h2>
    sdsds/sdsdsd/sdsdsd
{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block content %}
    {% widget source = '/medcrm/widgets/menu/leftmenu' %}
    
    {{MEDIA.global}}/css/import.css <br />
    {{ dump(MEDIA) }}

    
    <div class="row-block border-bottom">        
        <p class="important">
            Welcome on my awesome homepage.
        </p>
        <p>
            Welcome on my awesome homepage.
        </p>
    </div>
{% endblock %}
