<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <script src="/media/bower/jquery/dist/jquery.min.js"></script>
        <script src="/media/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        {% endblock %}
    </head> 
    <body>
        <header>
            
        </header>
        <menu></menu>
        <main>
        {% block content %}{% endblock %}
        </main>
        
        <footer>
            
        </footer>
    
    </body>
</html>	


